# ###  for core build  in used libs ###
# hashlib
# time
# secrets
# json
# threading
# typing
# dataclasses
# enum
# collections
# re


# ###  ML-Anomalie-Detection ###
# numpy 
# scikit-learn
# pandas


# ### Consensus-Mechanismen + Networking ###
# requests 
# asyncio 
# websockets

# ###Misk ###
# fastapi
# uvicorn
# flask
# pytest
# python-dotenv

# ### AI ###
# openai
# anthropic
# mistralai
# replicate




       

